.div1 {
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse;
    border: 2px solid grey;
    letter-spacing: 1px;
    font-size: 1.2rem;
    background-color: rgb(197, 197, 197);
}

th {
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
    background-color: rgb(110, 110, 110);
}

td {
    border: 1px solid grey;
    padding: 10px;
}
.col1 {
    background-color: rgb(165, 164, 164);
}
h2 {
    margin: 0;
    padding: 20px;
    font-size: 32px;
}
tr:hover{
    background-color: rgb(216, 213, 213);
}